
@{
    ViewBag.Title = "Deleted";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h2>The Album has been successfully Deleted</h2>
<div class="form-actions no-color">
    @Html.ActionLink("Return Back to Albums", "Index")
</div>
